<!doctype html>
<html>
  <head>
    <title>Buttons</title>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/css/bootstrap-custom.css">
    
</head>
<body><div><button class="btn btn-default">Normal</button>
<button class="btn btn-default" disabled>Disabled</button>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-danger">Danger</button>
<button class="btn btn-link">Link</button></div><div><div class="btn-row">
  <button class="btn btn-default">One</button>
  <button class="btn btn-default">Two</button>
</div></div><div><div class="btn-group">
  <button type="button" class="btn btn-default active">All</button>
  <button type="button" class="btn btn-default">Hour</button>
  <button type="button" class="btn btn-default">24hrs</button>
  <button type="button" class="btn btn-default">Custom</button>
</div></div><div><div class="btn-group">
  <button type="button" class="btn btn-default">All</button>
  <button type="button" class="btn btn-default">Hour</button>
  <button type="button" class="btn btn-default" disabled>24hrs</button>
  <button type="button" class="btn btn-default" disabled>Custom</button>
</div></div><div><div class="toggle-btn-group">
  <button type="button" class="active">Toggle A</button>
  <button type="button">Toggle B</button>
</div></div></body>
</html>
